body {
    font-family: 'Oswald', sans-serif;
}

#board {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(/img/space2.jpg);
    background-repeat: repeat;
    background-size: cover;
}
